<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>SMS Send Task</title>
    </head>
    <body>
        <h1>SMS Send Task</h1>
        <form method="post" action="/send">
        <p>Number:<br><input type="text" name="number" value="+86" /></p>
        <p>Message:<br><textarea name="message"></textarea></p>
        <p>User:<br><input type="text" name="user" /></p>
        <p>Password:<br><input type="password" name="password" /></p>
        <input type="submit"/>
        </form>
    </body>
</html>

